In [1]:
import pandas as pd 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [2]:
df=pd.read_csv('C:/Users/91944/Desktop/sir_house.csv')

In [3]:
df.drop(columns =["Bedroom","price_per_sqft","Unnamed: 0","Skewed_SP"], inplace = True)

In [4]:
df

,BHK,Location,Total_sqft,Bathroom,Price
0,1,"Thiruporur,OMR ,Chennai",450.0,1,19.950
1,1,"Thirumazhisai, Chennai",500.0,1,22.685
2,1,"Investment Apartment in Porur,Buddhar Colony, ...",328.0,1,25.000
3,1,"Siruseri,Chennai south,Chennai",476.0,1,26.560
4,1,DRA Truliv Porur,328.0,1,26.490
...,...,...,...,...,...
27897,4,"Breeze Villas,Yeswanth Nagar, Madambakkam,Chennai",1700.0,4,82.000
27898,4,"Ramaburam Flat,Azhakapuri Nagar, Ramapuram,Che...",1500.0,4,1.000
27899,4,"Annanur, Ayappakkam,Chennai",1080.0,4,65.000
27900,4,"Madambakkam, Chennai",1550.0,4,80.000
27901,4,"Breeze Villas,Yeswanth Nagar, Madambakkam,Chennai",1700.0,4,82.000

In [5]:
df.isnull().sum()

BHK           0
Location      0
Total_sqft    0
Bathroom      0
Price         0
dtype: int64

In [6]:
df.dtypes

BHK             int64
Location       object
Total_sqft    float64
Bathroom        int64
Price         float64
dtype: object

In [7]:
df10=df

In [8]:
dummies = pd.get_dummies(df10.Location)
dummies.head(3)

,", Chennai","2bhk apartment in Navalur,Semmancheri, Chennai",Akshaya Orlando A1 To A6,Akshaya Today,"Ambattur,Chennai North,Chennai","Annanur, Ayappakkam,Chennai","Aqualily,Mahindra World City, Chennai","Breeze Villas,Yeswanth Nagar, Madambakkam,Chennai",Brigade Xanadu,"CC Apartment,Egmore, Chennai",...,The Ace,"Thirumazhisai, Chennai","Thiruporur,OMR ,Chennai","Tiruvottiyur,Chennai East,Chennai","VIRAT VISHNU FLATS,Selaiyur, Chennai","Veppampattu, Chennai","Vit avenue,Vandalur, Chennai","Yeswanth Nagar, Madambakkam,Chennai","akshaya cube,Choolaima Nagar, Thoraipakkam,Chennai","shivani homes,VOC Nagar, Pammal,Chennai"
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df11 = pd.concat([df10,dummies],axis='columns')
df11.head()

,BHK,Location,Total_sqft,Bathroom,Price,", Chennai","2bhk apartment in Navalur,Semmancheri, Chennai",Akshaya Orlando A1 To A6,Akshaya Today,"Ambattur,Chennai North,Chennai",...,The Ace,"Thirumazhisai, Chennai","Thiruporur,OMR ,Chennai","Tiruvottiyur,Chennai East,Chennai","VIRAT VISHNU FLATS,Selaiyur, Chennai","Veppampattu, Chennai","Vit avenue,Vandalur, Chennai","Yeswanth Nagar, Madambakkam,Chennai","akshaya cube,Choolaima Nagar, Thoraipakkam,Chennai","shivani homes,VOC Nagar, Pammal,Chennai"
0,1,"Thiruporur,OMR ,Chennai",450.0,1,19.950,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1,"Thirumazhisai, Chennai",500.0,1,22.685,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,"Investment Apartment in Porur,Buddhar Colony, ...",328.0,1,25.000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,"Siruseri,Chennai south,Chennai",476.0,1,26.560,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,DRA Truliv Porur,328.0,1,26.490,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df12 = df11.drop('Location',axis='columns')
df12.head(2)

,BHK,Total_sqft,Bathroom,Price,", Chennai","2bhk apartment in Navalur,Semmancheri, Chennai",Akshaya Orlando A1 To A6,Akshaya Today,"Ambattur,Chennai North,Chennai","Annanur, Ayappakkam,Chennai",...,The Ace,"Thirumazhisai, Chennai","Thiruporur,OMR ,Chennai","Tiruvottiyur,Chennai East,Chennai","VIRAT VISHNU FLATS,Selaiyur, Chennai","Veppampattu, Chennai","Vit avenue,Vandalur, Chennai","Yeswanth Nagar, Madambakkam,Chennai","akshaya cube,Choolaima Nagar, Thoraipakkam,Chennai","shivani homes,VOC Nagar, Pammal,Chennai"
0,1,450.0,1,19.950,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1,500.0,1,22.685,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [11]:
X = df12.drop(['Price'],axis='columns')

y = df12.Price

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [13]:

from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.972518765253247

In [14]:
def predict_price(location,sqft,bath,bhk):    
    loc_index = np.where(X.columns==location)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = sqft
    x[1] = bath
    x[2] = bhk
    if loc_index >= 0:
        x[loc_index] = 1

    return lr_clf.predict([x])[0]

In [18]:

X.columns

Index(['BHK', 'Total_sqft', 'Bathroom', ', Chennai',
       '2bhk apartment in Navalur,Semmancheri, Chennai',
       'Akshaya Orlando A1 To A6', 'Akshaya Today',
       'Ambattur,Chennai North,Chennai', 'Annanur, Ayappakkam,Chennai',
       'Aqualily,Mahindra World City, Chennai',
       'Breeze Villas,Yeswanth Nagar, Madambakkam,Chennai', 'Brigade Xanadu',
       'CC Apartment,Egmore, Chennai', 'Casagrand Cherry Pick',
       'Casagrand ECR 14', 'Casagrand Miro', 'Casagrand Utopia',
       'Chengalpattu,Chennai', 'DJ Properties,Anthony Nagar, Kolathur,Chennai',
       'DRA Truliv Porur', 'Devaraj Nagar', 'Dream Housing', 'ECR, Chennai',
       'Emami Tejomaya', 'Gerugambakkam,Chennai west,Chennai',
       'Guindy,Chennai south,Chennai',
       'Investment Apartment in Porur,Buddhar Colony, Porur,Chennai',
       'Joy At Shriram Temple Bells', 'Jubliee Residences',
       'Kandigai, Chennai', 'Kandigai,Chennai south,Chennai',
       'Karapakkam,Chennai south,Chennai', 'Kelambakkam, Chennai',
       'Kelambakkam, Off OMR', 'Madambakkam, Chennai', 'Madhavaram, Chennai',
       'Madurantakam, Chennai', 'Maduravoyal,Chennai west,Chennai',
       'Mahindra Happinest', 'Mahindra World City, Chennai',
       'Mayon Chendur Garden,Viraraghavapuram, Avadi,Chennai',
       'Medavakkam, Chennai', 'Mogappair, Chennai', 'Navin Whiteberry',
       'Nolambur, Chennai', 'On Request ,Guduvancheri, Chennai',
       'OneHUB Properties ,Kovur, Chennai',
       'PARADISE,Kumudam Nagar, Mugalivakkam,Chennai',
       'PRP Garden ,Anna Nagar, Chengalpattu,Chennai', 'Padur, Chennai',
       'Pallikaranai, Chennai', 'Perumbakkam,Chennai south,Chennai',
       'Ponneri, Chennai', 'Poonamalle, Chennai', 'Pothur, Chennai',
       'Ramaburam Flat,Azhakapuri Nagar, Ramapuram,Chennai',
       'SUNDARAM PEARL,Selaiyur, Chennai', 'Sakthi Flats',
       'Semmanchery, Chennai', 'Sendurpuram, Iyyappanthangal,Chennai',
       'Shriram Park 63', 'Singaperumal Koil,GST Road,Chennai',
       'Siruseri, OMR', 'Siruseri,Chennai south,Chennai',
       'Sri Ramanujar Nagar', 'T Nagar, Chennai', 'TVS Peninsula', 'The Ace',
       'Thirumazhisai, Chennai', 'Thiruporur,OMR ,Chennai',
       'Tiruvottiyur,Chennai East,Chennai',
       'VIRAT VISHNU FLATS,Selaiyur, Chennai', 'Veppampattu, Chennai',
       'Vit avenue,Vandalur, Chennai', 'Yeswanth Nagar, Madambakkam,Chennai',
       'akshaya cube,Choolaima Nagar, Thoraipakkam,Chennai',
       'shivani homes,VOC Nagar, Pammal,Chennai'],
      dtype='object')

In [34]:
predict_price('T Nagar, Chennai',3000, 3,3)

-204.5233612529517

In [35]:
import pickle
with open('Chennai_home_prices_models.pickle','wb') as f:
    pickle.dump(lr_clf,f)

In [36]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns1.json","w") as f:
    f.write(json.dumps(columns))